services:
  webUI:
    image: webui
    networks:
      - webUI
    restart: always
    labels:
      - traefik.http.routers.webui.rule=HostRegexp(`^webui\..+$$`)
      - traefik.http.services.webui.loadbalancer.server.port=8000

networks:
  webUI:
    name: webUI
