services:
  industrial_bridge:
    image: industrial_bridge
    networks:
      - industrial_bridge
      - influxdb
    restart: always
    devices:
      - /dev/modbus_rtu
{% if bridge_test_environment %}
    volumes:
      - /dev:/dev
    environment:
      - RUST_LOG=debug
    cap_add:
      - NET_ADMIN
{% endif %}

networks:
  industrial_bridge:
    name: industrial_bridge
  influxdb:
    name: influxdb
    external: true
