DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME={{ influx_user }}
DOCKER_INFLUXDB_INIT_PASSWORD={{ influx_pass }}
DOCKER_INFLUXDB_INIT_ORG={{ influx_org }}
DOCKER_INFLUXDB_INIT_BUCKET={{ influx_bucket }}
